{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        「くらげ」について
    </div>

    <div class="icons margin-vertical-20 margin-horizontal-auto padding-vertical-40">

        <div class="admin-icon">
            <img src="{% static 'img/about-icons/admin-icon.jpg' %}" alt="くらげ 管理人 アイコン">
        </div>

        <!-- <div class="admin-name">
            管理人「くらげ」
        </div> -->

        <div class="icons-with-link padding-vertical-20">
            <div>
                <a href="https://x.com/k_azuki_24424" target="_blank">
                    <i class="bi bi-twitter-x"></i>
                </a>
            </div>
            <div>
                <a href="https://github.com/k-azuki-t" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </div>
            <div>
                <a href="">
                    <i class="bi bi-envelope-at-fill"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="width-80 margin-horizontal-auto item-container margin-vertical-20">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                くらげからのコメント&#128173;
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto">
            <p>こんにちは、くらげです。<br>
                この度は当サイトをご覧頂きありがとうございます&#128583;</p>
            <p>エンジニアと呼ぶにはまだまだ経験も知識も浅く、<br>
                胸を張って「自分はエンジニアだ」と言える日を夢見て日々奮闘中です&#128293;</p>
            <p>記事の感想や当サイトのご意見、雑談など遠慮なくご連絡ください。</p>
        </div>
    </div>

    <div class="width-80 margin-horizontal-auto item-container margin-vertical-20">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                プロフィール&#128221;
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto">
            <div>
                <p>&#128129;一般情報</p>
                <li>1999年生まれ。</li>
                <li>広島生まれの広島育ち。現在は神奈川のどこかでひっそりと生活中。</li>
                <li>よく料理をします。（美味しいかどうかは不明）</li>
                <li>海と美味しいご飯と岡田斗司夫さんが好きです。</li>
            </div>

            <div class="container-flex-row margin-vertical-20">
                <div class="width-50">
                    <p>&#128187;触れた技術</p>
                    <div>
                        <span class="margin-vertical-20">フロントエンド</span>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </div>
                    <div class="margin-vertical-20">
                        <span>バックエンド</span>
                        <li>Java</li>
                        <li>Python (Django)</li>
                    </div>
                    <div class="margin-vertical-20">
                        <span>OS・DB</span>
                        <li>Linux</li>
                        <li>DB2</li>
                        <li>PostgreSQL</li>
                    </div>
                </div>
                <div class="width-50">
                    <p>&#11088;興味のある領域</p>
                    <li>IT関連</li>
                    <li>デザイン</li>
                    <li>マーケティング</li>
                    <li>心理学</li>
                    <li>行動経済学</li>
                </div>
            </div>

            <div >
                <p>&#128084;経歴</p>
                <div class="carrer-list"">
                    <li class="list-no-marker margin-horizontal-20 margin-vertical-20">2024年03月
                        <ul>
                            <li class="list-no-marker">薬学部博士前期課程中退&#129760;</li>
                        </ul>
                    </li>
                    <li class="list-no-marker margin-horizontal-20 margin-vertical-20">2024年02月 ~ 2024年09月
                        <ul>
                            <li style="list-style-type: none;">ITベンチャー企業に勤務</li>
                            <ul>
                                <li>カスタマーサクセス・ヘルプデスク・データ移行作業</li>
                            </ul>
                        </ul>
                    </li>
                    <li class="list-no-marker margin-horizontal-20 margin-vertical-20">2024年11月 ~ 現在
                        <ul>
                            <li style="list-style-type: none;">SES企業に勤務</li>
                            <ul>
                                <li>Djangoでフロントエンド・バックエンド開発 / タスク管理</li>
                            </ul>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}