{% extends "base.html" %}

{% block title %}
    <title>当サイトについて</title>
{% endblock %}

{% block ogp %}
    <meta property="og:title" content="当サイトについて">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/img/about-icons/admin-icon.jpg">
    <meta property="og:site_name" content="くらげの独り言">
    <meta property="og:description" content="「くらげの独り言」についてのご紹介です。">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="当サイトについて" />
    <meta name="twitter:description" content="「くらげの独り言」についてのご紹介です。" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/img/about-icons/admin-icon.jpg" />
    <meta name="twitter:site" content="@k_azuki_24424">
{% endblock %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        当サイトについて
    </div>

    <div class="width-80 margin-horizontal-auto item-container margin-vertical-20">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                <i class="bi bi-aspect-ratio"></i>
                当サイトの目的
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto margin-vertical-20">
            <p>くらげの学習内容のアウトプットによる知識定着と情報提供を目的としています。</p>
            <p>その他、当サイトには「くらげはどんな人物で、何に取り組んでいて何が出来るのか」を<br>
                知っていただくポートフォリオとしての役割も持たせています。</p>
        </div>
    </div>

    <div class="width-80 margin-horizontal-auto margin-vertical-20 item-container">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                <i class="bi bi-key"></i>
                プライバシーポリシーと利用規約
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto margin-vertical-20">
            <p>プライバシーポリシーおよび利用規約は、以下からご確認ください。</p>
            <div class="container-flex-row margin-vertical-20">
                <div class="width-50 text-align-center">
                    <a href="{% url 'about:privacy_policy' %}">
                        プライバシーポリシー
                    </a>
                </div>
                <div class="width-50 text-align-center">
                    <a href="{% url 'about:terms_of_use' %}">
                        利用規約
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="width-80 margin-horizontal-auto margin-vertical-20 item-container">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                <i class="bi bi-tools"></i>
                リリースノート
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto">
            <div class="container-flex-column margin-vertical-20">
                {% for release_note in release_notes %}
                    <div class="width-100 margin-bottom-20 release-note-container">
                        <h3>v{{ release_note.version }} / {{ release_note.created_at | date:"Y-m-d" }}</h3>
                        <div class="width-100">
                            <h4>New Feature</h4>
                            <div>
                                {% if release_note.new_feature %}
                                    {{ release_note.new_feature }}
                                {% else %}
                                    ---
                                {% endif %}
                            </div>
                        </div>
                        <div class="width-100 margin-bottom-20">
                            <h4>Improvement</h4>
                            <div>
                                {% if release_note.improvement %}
                                    {{ release_note.improvement }}
                                {% else %}
                                    ---
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}