{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        当サイトについて
    </div>

    <div class="width-80 margin-horizontal-auto item-container padding-vertical-20 margin-vertical-20">
        <div class="sub-title width-80 margin-horizontal-auto">当サイトの目的</div>
        <div class="width-80 margin-horizontal-auto">
            <p>くらげの学習内容のアウトプットによる知識定着と情報提供を目的としています&#128395;</p>
            <p>その他、当サイトには「くらげはどんな人物で、何に取り組んでいて何が出来るのか」を<br>
                知っていただくポートフォリオとしての役割も持たせています。</p>
            <p>この機会に、くらげについて知っていただけると幸いです&#128524;</p>
        </div>
    </div>

    <div class="width-80 margin-horizontal-auto margin-vertical-20 item-container padding-vertical-20">
        <div class="sub-title width-80 margin-horizontal-auto">プライバシーポリシーと利用規約</div>
        <div class="width-80 margin-horizontal-auto">
            <p>プライバシーポリシーおよび利用規約は、以下からご確認ください。</p>
            <div class="container-flex-row margin-vertical-50">
                <div class="width-50 text-align-center">
                    <a href="">
                        プライバシーポリシー
                    </a>
                </div>
                <div class="width-50 text-align-center">
                    <a href="">
                        利用規約
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}