{% extends "base.html" %}

{% block title %}
    <title>「くらげ」について</title>
{% endblock %}

{% block ogp %}
    <meta property="og:title" content="「くらげ」について">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/img/about-icons/admin-icon.jpg">
    <meta property="og:site_name" content="くらげの独り言">
    <meta property="og:description" content="管理人「くらげ」についてのご紹介です。">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="「くらげ」について" />
    <meta name="twitter:description" content="管理人「くらげ」についてのご紹介です。" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/img/about-icons/admin-icon.jpg" />
    <meta name="twitter:site" content="@k_azuki_24424">
{% endblock %}


{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        「くらげ」について
    </div>

    <div class="icons margin-vertical-20 margin-horizontal-auto padding-vertical-40">

        <div class="admin-icon">
            <img src="{% static 'img/about-icons/admin-icon.jpg' %}" alt="くらげ 管理人 アイコン">
        </div>

        <div class="icons-with-link padding-vertical-20">
            <div>
                <a href="https://x.com/k_azuki_24424" target="_blank">
                    <i class="bi bi-twitter-x"></i>
                </a>
            </div>
            <div>
                <a href="https://github.com/k-azuki-t" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </div>
            <div>
                <a href="mailto:kuragenohitorigoto2025@gmail.com?subject=お問い合わせ">
                    <i class="bi bi-envelope-at-fill"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="width-80 margin-horizontal-auto item-container margin-vertical-20">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                <i class="bi bi-chat-text"></i>
                くらげからのコメント
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto">
            <p>こんにちは、くらげです。<br>
                この度は当サイトをご覧頂きありがとうございます&#128583;</p>
            <p>エンジニアと呼ぶにはまだまだ経験も知識も浅く、<br>
                胸を張って「自分はエンジニアだ」と言える日を夢見て日々奮闘中です&#128293;</p>
            <p>記事の感想や当サイトのご意見、雑談など遠慮なくご連絡ください。</p>
        </div>
    </div>

    <div class="width-80 margin-horizontal-auto item-container margin-vertical-20">
        <div class="sub-title width-100 margin-horizontal-auto padding-vertical-20">
            <div class="width-80 margin-horizontal-auto">
                <i class="bi bi-file-earmark-person"></i>
                プロフィール
            </div>
        </div>
        <div class="width-80 margin-horizontal-auto">
            <div>
                <h2><i class="bi bi-person-arms-up"></i> 一般情報</h2>
                <li>1999年生まれ。</li>
                <li>広島生まれの広島育ち。現在は神奈川のどこかでひっそりと生活中。</li>
                <li>よく料理をします。（美味しいかどうかは不明）</li>
                <li>海と鳥、美味しいご飯と岡田斗司夫さんが好きです。</li>
                {% if interested_domains %}
                <li>興味のある領域は{% for domain in interested_domains %}「{{domain}}」{% endfor %}です。</li>
                {% endif %}
            </div>

            {% if my_skills %}
            <div class="container-flex-row margin-vertical-20 kurage-info-container">
                <div class="width-100">
                    <h2><i class="bi bi-front"></i> 触れた技術</h2>
                    <div class="width-100">
                        {% for category in skill_categories %}
                        <h3>{{ category.name }}</h3>
                        <div class="container-flex-row justify-center">
                            {% for skill in my_skills %}
                            {% if skill.category == category %}
                            <div class="skill-icon-container">
                                <img src="{{ skill.skill_icon.url }}" alt="{{ skill.name }}">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if capabilities %}
            <div class="container-flex-row margin-vertical-20 kurage-info-container">
                <div class="width-100">
                    <h2><i class="bi bi-person-vcard"></i></i> 資格一覧</h2>
                    <div class="width-100">
                        {% for capability in capabilities %}
                        <li>{{ capability.name }} ({{ capability.got_at | date:"Y-m-d" }} 取得)</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if my_careers %}
            <div class="kurage-info-container">
                <h2><i class="bi bi-person-workspace"></i> 経歴</h2>
                <div class="career-list">
                    <li class="list-no-marker margin-horizontal-20 margin-vertical-20">2024年03月
                        <ul>
                            <li class="list-no-marker">薬学部博士前期課程中退&#129760;</li>
                        </ul>
                    </li>
                    {% for career in my_careers %}
                    <li class="list-no-marker margin-horizontal-20 margin-vertical-20">
                        {{ career.career_started_at | date:"Y年m月" }} ~ {{ career.career_ended_at | date:"Y年m月" }}
                        <ul>
                            <li class="career-title">{{ career.name }}</li>
                            <ul>
                                <li>{{ career.content1 }}</li>

                                {% if career.content2 %}
                                <li>{{ career.content2 }}</li>
                                {% endif %}

                                {% if career.content3 %}
                                <li>{{ career.content3 }}</li>
                                {% endif %}

                                {% if career.content4 %}
                                <li>{{ career.content4 }}</li>
                                {% endif %}

                                {% if career.content5 %}
                                <li>{{ career.content5 }}</li>
                                {% endif %}
                            </ul>
                        </ul>
                    </li>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    

{% endblock %}