{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        プライバシーポリシー
    </div>

    <div class="width-80 margin-horizontal-auto item-container padding-vertical-20 margin-vertical-20">
        <div class="width-80 margin-horizontal-auto">
            <p>くらげの独り言（以下、「当サイト」といいます）は、<br>
                お客様の個人情報の保護について最大限の注意を払い、 <br>
                個人情報保護に関する法令を遵守し、<br>
                以下のプライバシーポリシーに従って個人情報を取り扱います。
            </p>
        </div>
        <div class="width-100 margin-vertical-50">
            <div class="sub-title width-80 margin-horizontal-auto">1. 個人情報の収集方法</div>
            <div class="width-80 margin-horizontal-auto">
            <p>当サイトは，ユーザーが利用登録をする際にメールアドレスをお尋ねすることがあります。</p>
        </div>
        <div class="width-100 margin-vertical-50">
            <div class="sub-title width-80 margin-horizontal-auto">2. Cookieの使用について</div>
            <div class="width-80 margin-horizontal-auto">
                <p>当サイトでは、利便性向上のためにCookieを使用しています。</p>
                <p>Cookieによりブラウザを識別していますが、特定個人の識別はできない状態となっており、匿名性が担保されています。</p>
                <p>Cookieの使用を望まない場合、ブラウザからCookieを無効に設定できますが、当サイトが正常に動作しない場合があります。</p>
            </div>
        </div>
        </div>
        <div class="width-100 margin-vertical-50">
            <div class="sub-title width-80 margin-horizontal-auto">3. 個人情報の収集目的</div>
            <div class="width-80 margin-horizontal-auto">
                <p>当サイト個人情報を収集・利用する目的は，以下のとおりです。</p>
                <li>当サイトの提供・運営のため</li>
                <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
                <li>利用規約に違反したユーザーや，不正・不当な目的でサイトを利用しようとするユーザーを特定し，ご利用をお断りするため</li>
                <li>ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</li>
                <li>上記の利用目的に付随する目的</li>
            </div>
        </div>
        <div class="width-100 margin-vertical-50">
            <div class="sub-title width-80 margin-horizontal-auto">4. 利用目的の変更</div>
            <div class="width-80 margin-horizontal-auto">
                <p>当サイトは，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</p>
                <p>利用目的の変更を行った場合には，変更後の目的について，当サイト所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</p>
            </div>
        </div>
        <div class="width-100 margin-vertical-50">
            <div class="sub-title width-80 margin-horizontal-auto">5. 個人情報の第三者開示について</div>
            <div class="width-80 margin-horizontal-auto">
                <p>取得した個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。</p>
                <li>法令により開示が求められた場合</li>
                <li>人の生命、身体または財産の保護のために必要がある場合</li>
                <li>公衆衛生の向上または児童の健全な育成の推進のために必要がある場合</li>
                <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合</li>
            </div>
        </div>
    </div>

{% endblock %}