{% extends "base.html" %}

{% block content %}

<div class="title">
    ログイン
</div>

<div class="account-form">
    <form method="post">
        
        {% csrf_token %}

        <div class="input-elements">
            <div class="input-element">
                <div class="input-title">
                    メールアドレス
                </div>
                {{ form.username }}
            </div>
    
            <div class="input-element">
                <div class="input-title">
                    パスワード
                </div>
                {{ form.password }}
            </div>
        </div>
        
        <button type="submit" class="button post-data-button">ログイン</button>

    </form>

</div>

<div class="width-100 container-flex-column message-container">
    {% if form.errors %}
        <div class="item-container message error-message">
            <div class="circle-container">
                <svg viewBox="0 0 50 50" width="50px" height="50px">
                    <circle cx="25" cy="25" r="15" fill="transparent" stroke="#fff" stroke-width="6" class="time-circle"></circle>
                </svg>
            </div>
        {% for error in form.username.errors %}
            <div class="width-80 text-align-center">
                {{ error }}
            </div>
        {% endfor %}
        {% for error in form.password.errors %}
            <div class="width-80 text-align-center">
                {{ error }}
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="width-80 text-align-center">
                {{ error|linebreaksbr }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <!-- アカウント登録用 -->
    {% if messages %}
        <div class="item-container message" style="position: relative;">
            <div class="circle-container">
                <svg viewBox="0 0 50 50" width="50px" height="50px">
                    <circle cx="25" cy="25" r="15" fill="transparent" stroke="#fff" stroke-width="6" class="time-circle"></circle>
                </svg>
            </div>
            {% for message in messages %}
                <div class="width-80 text-align-center">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}