{% extends "base.html" %}

{% block content %}

<div class="title">
    パスワード変更
</div>

<div class="account-form">
    <form method="post">
        
        {% csrf_token %}

        <!-- <div class="input-elements"> -->
            <div class="input-element">
                <div class="input-title">
                    現在のパスワード
                </div>
                {{ form.old_password }}
            </div>
    
            <div class="input-element">
                <div class="input-title">
                    新しいパスワード
                </div>
                {{ form.new_password1 }}
            </div>
    
            <div class="input-element">
                <div class="input-title">
                    新しいパスワード（確認用）
                </div>
                {{ form.new_password2 }}
            </div>
        <!-- </div> -->

        {% if form.errors %}
        <div class="error-message">

            {% for error in form.old_password.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}

            {% for error in form.ner_password1.errors %}
            <div>
                {{ error }}     
            </div>
            {% endfor %}

            {% for error in form.new_password2.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div>
            Your password can’t be too similar to your other personal information.
            Your password must contain at least 8 characters.
            Your password can’t be a commonly used password.
            Your password can’t be entirely numeric.
        </div>

        <button type="submit" class="button post-data-button">変更</button>

    </form>
</div>

{% endblock %}