{% extends "base.html" %}

{% block content %}

<div class="title">
    パスワード変更
</div>

<div class="account-form">
    <form method="post">
        
        {% csrf_token %}

        <div class="input-element">
            <div class="input-title">
                現在のパスワード
            </div>
            {{ form.old_password }}
        </div>

        <div class="input-element">
            <div class="input-title">
                新しいパスワード
                <i class="bi bi-question-circle" onmouseover='displayPassExplanation()'></i>
            </div>
            {{ form.new_password1 }}
        </div>

        <div class="input-element">
            <div class="input-title">
                新しいパスワード（確認用）
            </div>
            {{ form.new_password2 }}
        </div>

        <button type="submit" class="button post-data-button">変更</button>

    </form>
</div>

<div class="width-100 container-flex-column message-container">
    {% if form.errors %}
    <div class="item-container message error-message">

        {% for error in form.old_password.errors %}
        <div class="width-80 text-align-center">
            {{ error }}
        </div>
        {% endfor %}

        {% for error in form.new_password1.errors %}
        <div class="width-80 text-align-center">
            {{ error }}     
        </div>
        {% endfor %}

        {% for error in form.new_password2.errors %}
        <div class="width-80 text-align-center">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}