{% extends "base.html" %}

{% block content %}

<div class="title">
    アカウント情報変更
</div>

<div class="account-form">
    <form method="post">
        
        {% csrf_token %}

        <div class="input-elements">
            <div class="input-element">
                <div class="input-title">
                    ユーザー名
                </div>
                {{ form.name }}
            </div>
    
            <div class="input-element">
                <div class="input-title">
                    メールアドレス
                </div>
                {{ form.email }}
            </div>
        </div>
        
        <button type="submit" class="button post-data-button">変更</button>

    </form>

    <a href="{% url 'accounts:password_change' %}" class="margin-vertical-50">パスワード変更はこちら</a>

</div>

<div class="width-100 container-flex-column message-container">
    {% if form.errors %}
    <div class="item-container message error-message">

        <div class="circle-container">
            <svg viewBox="0 0 50 50" width="50px" height="50px">
                <circle cx="25" cy="25" r="15" fill="transparent" stroke="#fff" stroke-width="6" class="time-circle"></circle>
            </svg>
        </div>

        {% if form.non_field_errors or form.name.errors %}
        <div class="width-80 text-align-center">
            予期せぬエラーが発生しました。
            お手数ですが、管理人までお問い合わせください。
        </div>
        {% endif %}

        {% for error in form.name.errors %}
        <div class="width-80 text-align-center">
            {{ error }}     
        </div>
        {% endfor %}

        {% for error in form.email.errors %}
        <div class="width-80 text-align-center">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}