{% extends "base.html" %}

{% block content %}

{% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

<div class="title">
    アカウント情報
</div>

<div class="account-control-pannel">

    <div class="account-info">

        <div class="account-icon">
            {% if user.is_authenticated %}
                <i class="bi bi-person-fill-check"></i>
            {% else %}
            <i class="bi bi-person-fill-exclamation"></i></i>
            {% endif %}
        </div>

        <div class="account-name">
            {% if user.is_authenticated %}
                {{ user.name }}
            {% else %}
                ゲスト
            {% endif %}
        </div>

        <div class="account-mail">
            {% if user.is_authenticated %}
                {{ user.email }}
            {% else %}
                -
            {% endif %}
        </div>

    </div>

    <div class="account-control-buttons">

        {% if user.is_authenticated %}
        <form action="{% url 'accounts:profile_change' %}" method="get">
            <!-- {% csrf_token %} -->
            <div>
                <button class="button">
                    <i class="bi bi-gear"></i>
                    <span class="button-name">ユーザー情報変更</span>
                </button>
            </div>
        </form>

        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <div>
                <button class="button">
                    <i class="bi bi-door-open"></i>
                    <span class="button-name">ログアウト</span>
                </button>
            </div>
        </form>

        <form action="{% url 'accounts:withdraw' %}">
            {% csrf_token %}
            <div>
                <button class="button alart-button">
                    <i class="bi bi-person-x"></i>
                    <span class="button-name">退会</span>
                </button>
            </div>
        </form>
        {% else %}
        <form action="{% url 'accounts:login' %}">
            <div>
                <button class="button">
                    <i class="bi bi-door-closed"></i>
                    <span class="button-name">ログイン</span>
                </button>
            </div>
        </form>

        <form action="{% url 'accounts:signup' %}">

            <div>
                <button class="button">
                    <i class="bi bi-person-plus"></i>
                    <span class="button-name">アカウント登録</span>
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<div class="margin-vertical-20 margin-horizontal-auto width-80">
    <h2>最近お気に入り登録した記事</h2>
    {% if user.is_authenticated %}
    {% for article in new_favorite_articles %}
        <div class="width-100 margin-vertical-20 margin-horizontal-auto container-flex-row item-container article-info-container" onclick="moveToDetailPage('{{article.pk}}')">
            <div class="width-30">
                <img class="article-header-img" src="{{ article.header_img_url.url }}" alt="">
            </div>
            <div class="container-flex-column width-70">
                <div class="article-title-container container-flex-column">
                    {{ article.title|truncatewords:25 }}
                </div>
                <div class="container-flex-row article-sub-info-container">
                    <div class="container-flex-row">
                        <i class="bi bi-box"></i>
                        {{ article.category }}
                    </div>
                    <div class="container-flex-row">
                        <i class="bi bi-clock"></i>
                        {{ article.created_at | date:"Y-m-d" }}
                    </div>
                    <div class="container-flex-row">
                        <i class="bi bi-eye"></i>
                        {{ article.viewed_count }} views
                    </div>
                </div>
            </div>
            <a href="{% url 'articles:detail' article.pk %}" id="{{article.pk}}"></a>
        </div>
    {% endfor %}
    {% else %}
    <div class="width-100 margin-vertical-50 text-align-center">
        <div class="margin-vertical-20">
            <h3>お気に入り登録を使用するには、ログインが必要です。</h3>
        </div>
    {% endif %}
</div>

<div class="width-100 container-flex-column message-container">
    {% if messages %}
    <div class="item-container message">

        <div class="circle-container">
            <svg viewBox="0 0 50 50" width="50px" height="50px">
                <circle cx="25" cy="25" r="15" fill="transparent" stroke="#fff" stroke-width="6" class="time-circle"></circle>
            </svg>
        </div>

        {% for message in messages %}
            <div class="width-80 text-align-center">
                {{ message|safe }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}