{% extends "base.html" %}

{% block content %}

<div class="title">
    パスワード変更
</div>

<div class="account-form">
    <form method="post">
        
        {% csrf_token %}

        {% if form.errors %}
        <div class="error-message">

            {% for error in form.old_password.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}

            {% for error in form.ner_password1.errors %}
            <div>
                {{ error }}     
            </div>
            {% endfor %}

            {% for error in form.new_password2.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div>
            <p> 一度削除すると、このアカウントのIDは今後利用できなくなります。</p>
            <p>アカウントを削除すると、アカウントに関する情報は全て削除されます。</p>
            <p>アカウント削除後のキャンセル、アカウントの復元はできません。</p>
            <p>本当に削除しますか？</p>
        </div>

        <button type="submit" class="button post-data-button alart-button">削除</button>

    </form>
</div>

{% endblock %}