/* favorite article, recent article etc... */
.articles {
    width: 80%;
    margin: 0 auto;
}
.category-title {
    font-weight: bold;
    color: #575757;
    font-size: 25px;
}

.account-form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* vertical */
}
.account-form form {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.account-form .input-title {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    color: #575757;
}
.account-form .input-element {
    margin-top: 20px;
}
.account-form input {
    width: 100%;
    height: 30px;
    margin: 10px auto;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #575757;
}
.account-form button {
    margin: 40px auto; /* combination with parent-element's flex-direction & align-items, this button  */
    width: 50%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}