/* article-edit-form内にある要素のスタイル */
.article-edit-form {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.drop-area {
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.drop-area input {
    opacity: 0; /* inputタグ自体の表示は無くしつつ、HTMLデフォルトのアラート表示は出す */
}
.drop-area .article-icon {
    margin-top: auto;
    font-size: 40px;
    font-weight: bold;
}
.drop-area .img-form-message {
    margin-bottom: auto;
    font-size: 20px;
    font-weight: bold;
}
.text-item-containor {
    display: flex;
}
.article-item {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.article-item .text-item {
    height: 100%;
    display: flex;
    align-items: center;
}
.article-title {
    width: 80%;
}
.article_title {
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.article_category {
    height: 62px;
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.article-edit-button-containor {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.article-edit-button-containor .article-edit-button {
    margin: 0 5px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    font-weight: bold; 
    font-family: 'M PLUS Rounded 1c', sans-serif; 
    border-style: none;
    cursor: pointer;
}
.article-edit-button-containor .submit-button {
    margin-left: auto;
    background-color: rgb(184, 184, 184);
}

/* .submit-button-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-bottom: 50px;
}
.submit-button-container .button {
    width: 80%;
    border-style: none;
} */

/* markdownx */
.markdownx {
    display: flex !important;
    width: 100%;
    flex-direction: row;
}
.markdownx .markdownx-editor {
    resize: none;
    height: 630px;
    min-height: 630px;
    max-height: 630px;
    width: 100% !important;
    /* border-radius: 10px; */
    padding: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
}
.markdownx .markdownx-preview {
    width: 100% !important;
    height: 630px;
    min-height: 630px;
    max-height: 630px;
    /* border-radius: 10px; */
    /* border-color: rgb(95, 95, 95); */
    /* border-style: solid; */
    padding: 20px;
    font-size: 20px !important;
}
.markdownx textarea {
    font-size: 20px;
}


/* プレビュー時の不自然な文字の大きさを修正 */
.markdownx .markdownx-preview h1 {
    font-size: 2em !important;
    font-weight: bold !important;
}
.markdownx .markdownx-preview h2 {
    font-size: 1.5em !important;
    font-weight: bold !important;
}
.markdownx .markdownx-preview h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
}
.markdownx .markdownx-preview h4 {
    font-size: 1em !important;
    font-weight: bold !important;
}
.markdownx .markdownx-preview h5 {
    font-size: .9em !important;
    font-weight: bold !important;
}
.markdownx .markdownx-preview h6 {
    font-size: .8em !important;
    font-weight: bold !important;
}

/* .markdownx .markdownx-preview * {
    line-height: 0.2 !important;
} */

