.product-info-container {
    cursor: pointer;
    transition: 0.3s;
}
.product-info-container:hover {
    transform: translateY(-10px);
}

.product-img-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(151, 151, 151); */
    background-image: radial-gradient(at 100% 100%, rgba(255, 190, 156, 1), rgba(255, 159, 204, 1) 18%, rgba(255, 166, 167, 1) 55%, rgba(255, 223, 79, 1));
    border-radius: 10px 10px 0 0;
}
.product-img-container img {
    width: auto;
    height: 80%;
    object-fit: cover;
}
