/* profile.html style */
.home-icon {
    margin: 0 auto;
    padding-top: 100px;
}
.home-icon svg{
    width: 200px;
    height: 200px;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.home-title {
    font-size: 50px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif; /* 参考：https://arts-factory.net/goglefonts/#toc7 */
    font-weight: bold;
    color: #575757;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.explanation {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 3s ease 1s forwards;
}
.explanation p {
    text-align: center;
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* home.html end */


/* accounts/profile.html */
.account-control-pannel {
    width: 80%;
    height: 365px;
    margin: 40px auto;
    border-radius: 100px;
    border: #747474 5px solid;
    background-color: #fffefe;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-info .account-icon i {
    font-size: 70px;
}
.account-info .account-name {
    font-size: 25px;
    font-weight: bold;
    color: #575757;
}
.account-info .account-mail {
    font-size: 15px;
    font-weight: bold;
    color: #575757;
}

.account-control-buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}
.account-control-buttons div {
    /* align-items: center;
    display: flex; */
    margin: 15px 0;
}
.account-control-buttons form {
    width: 100%;
    /* margin: 10px auto; */
}
.account-control-buttons button{
    margin: auto;
    width: 70%;
    height: 36px;
    text-align: center;
    border-radius: 18px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}
/* accounts/profile.html end */


/* login.html */

/* login.html end */