{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        プロダクト紹介
    </div>

    <div class="container-flex-column width-80 margin-horizontal-auto">
        {% for product in object_list %}
        <div class="container-flex-column width-100 margin-vertical-20 item-container product-info-container" onclick="moveToProductPage({{ product.pk }})">
            <div class="width-100 product-img-container">
                <img src="{{ product.header_img_url.url }}" alt="">
            </div>
            <div class="width-100 text-align-center">
                <h3>{{ product.name }}</h3>
            </div>
            <div class="width-100 margin-bottom-20 text-align-center">
                {{ product.content | linebreaksbr  }}
            </div>
            <a href="https://{{ product.access_url }}" id="{{ product.pk }}" target="_blank"></a>
        </div>
        {% endfor %}
        <div class="container-flex-column width-100 margin-vertical-20 item-container product-info-container">
            <div class="width-100 product-img-container">
                <img src="/media/product_images/question.png" alt="">
            </div>
            <div class="width-100 text-align-center">
                <h3>開発中...</h3>
            </div>
            <div class="width-100 margin-bottom-20 text-align-center">
                開発中のプロダクトがある...かも？
            </div>
        </div>
    </div>

{% endblock %}