{% extends "base.html" %}

{% block title %}
    <title>プロダクト一覧</title>
{% endblock %}

{% block ogp %}
    <meta property="og:title" content="プロダクト一覧">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/img/about-icons/admin-icon.jpg">
    <meta property="og:site_name" content="くらげの独り言">
    <meta property="og:description" content="管理人「くらげ」が作成したプロダクト一覧です。">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="プロダクト一覧" />
    <meta name="twitter:description" content="管理人「くらげ」が作成したプロダクト一覧です。" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/img/about-icons/admin-icon.jpg" />
    <meta name="twitter:site" content="@k_azuki_24424">
{% endblock %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        プロダクト紹介
    </div>

    <div class="container-flex-column width-80 margin-horizontal-auto">
        {% for product in object_list %}
        <div class="container-flex-column width-100 margin-vertical-20 item-container product-info-container" onclick="moveToProductPage({{ product.pk }})">
            <div class="width-100 product-img-container">
                <img src="{{ product.header_img_url.url }}" alt="">
            </div>
            <div class="width-100 text-align-center">
                <h3>{{ product.name }}</h3>
            </div>
            <div class="width-100 margin-bottom-20 text-align-center">
                {{ product.content | linebreaksbr  }}
            </div>
            <a href="https://{{ product.access_url }}" id="{{ product.pk }}" target="_blank"></a>
        </div>
        {% endfor %}
        <div class="container-flex-column width-100 margin-vertical-20 item-container product-info-container">
            <div class="width-100 product-img-container">
                <img src="{% static 'img/product-icons/question.png' %}" alt="">
            </div>
            <div class="width-100 text-align-center">
                <h3>開発中...</h3>
            </div>
            <div class="width-100 margin-bottom-20 text-align-center">
                開発中のプロダクトがある...かも？
            </div>
        </div>
    </div>

{% endblock %}