{% extends "base.html" %}

{% block content %}
    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->
    <div class="width-80 margin-horizontal-auto">
        <div id="article-id">{{ article.pk }}</div>
        <div class="article-header margin-vertical-50">
            <img class="article-header-img" src="{{ article.header_img_url.url }}" alt="">
        </div>
        <h2 class="text-align-center">{{ article.title }}</h2>
        <h3 class="text-align-center">{{ article.category }}</h3>
        <div class="width-100 container-flex-column">
            <div class="article-sub-info margin-horizontal-left-auto">
                <i class="bi bi-clock"></i>
                <span>: {{ article.created_at | date:"Y-m-d" }}</span>
            </div>
            <div class="article-sub-info margin-horizontal-left-auto">
                <i class="bi bi-clock-history"></i>
                <span>: {{ article.updated_at | date:"Y-m-d" }}</span>
            </div>
            <div class="article-sub-info margin-horizontal-left-auto">
                <i class="bi bi-eye"></i>
                <span>: {{ article.viewed_count}} views</span>
            </div>
        </div>
        {{ article.get_markdownx_content|safe }}
    </div>

    <div class="favorite-icon-container width-80 container-flex-column margin-horizontal-auto margin-vertical-20">
        {% if is_favorited %}
        <i class="bi bi-suit-heart-fill" onclick="registerFavorite();"></i>
        {% else %}
        <i class="bi bi-suit-heart" onclick="registerFavorite();"></i>
        {% endif %}
        <span style="display: block;">お気に入り登録</span>
    </div>

    {% if is_author_of_this_article %}
    <div class="article-edit-icon">
        <a href="{% url 'articles:update' article.pk %}"><i class="bi bi-pencil-square"></i></a>
    </div>
    {% endif %}    
    

{% endblock %}