{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        記事一覧
    </div>

    <form method="get" action="">
        <input type="text" name="q" placeholder="キーワードで検索" value="{{ request.GET.q }}">
        <select name="category">
            <option value="">すべてのカテゴリ</option>
            {% for code, label in categories %}
            <option value="{{ code }}" {% if request.GET.category == code %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
            <!-- 他のカテゴリも追加 -->
        </select>
        <input type="checkbox" name="favorite" {% if request.GET.favorite %}checked{% endif %}>お気に入り
        <button type="submit"><i class="bi bi-search"></i>search</button>
    </form>

    <div style="margin: 20px auto; width: 80%;">
        {% for article in object_list %}
            <div style="width: 100%; aspect-ratio: 20 / 3; display: flex; flex-direction: row; margin: 20px 0; font-size: clamp(5px, 1.2vw, 3rem); background-color: aliceblue; cursor: pointer; border-radius: 10px;" onclick="moveToDetailPage('{{article.pk}}')">
                <div style="width: 30%;">
                    <img src="{{ article.header_img_url.url }}" alt="" style="object-fit: cover; width: 100%; height:100%; border-radius: 10px 0 0 10px;">
                </div>
                <div style="display: flex; flex-direction: column; width: 70%;">
                    <div style="height: 70%; display: flex; align-items: center; padding-left: 1.5vw; font-size: 1.5vw;">
                        {{ article.title|truncatewords:25 }}
                    </div>
                    <div style="height: 30%; display: flex; flex-direction: row; justify-content: end">
                        <div style="padding: 10px; display: flex; align-items: center;">
                            <i class="bi bi-box" style="padding-right: 0.2vw;"></i>
                            {{ article.get_category_display }}
                        </div>
                        <div style="padding: 10px; display: flex; align-items: center;">
                            <i class="bi bi-clock" style="padding-right: 0.2vw;"></i>
                            {{ article.created_at | date:"Y-m-d" }}
                        </div>
                        <div style="padding: 10px; display: flex; align-items: center;">
                            <i class="bi bi-eye" style="padding-right: 0.2vw;"></i>
                            {{ article.viewed_count }} views
                        </div>
                    </div>
                </div>
                <a href="{% url 'articles:detail' article.pk %}" style="display: none;" id="{{article.pk}}"></a>
            </div>
        {% endfor %}
    </div>

    <!-- <div class="content-container"> -->
        {% if user.is_authenticated %}
        <div class="article-edit-icon">
            <a href="{% url 'articles:edit' %}"><i class="bi bi-pencil-square"></i></a>
        </div>
        {% endif %}
    <!-- </div> -->

    <script>
        function moveToDetailPage(articleID) {
            const article = document.getElementById(articleID);
            article.click();
        }
    </script>
    

{% endblock %}