{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        記事一覧
    </div>

    <form method="get" action="" style="width: 80%; margin: 0 auto;">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%;">
            <div style="display: flex; flex-direction: column; width: 70%;">
                <div style="margin: 20px 0; width: 100%;">
                    <i class="bi bi-chat-square-text" style="font-size: clamp(15px, 2vw, 25px); width: 10%;"></i>
                    <input type="text" name="q" placeholder="キーワードで検索..." value="{{ request.GET.q }}" style="width: 85%; font-size: clamp(10px, 2vw, 20px);">
                </div>
                <div style="margin: 20px 0; width: 100%; display: flex; flex-direction: row;">
                    <div style="width: 50%;">
                        <span style="width: 10%;">
                            <i class="bi bi-box" style="font-size: clamp(15px, 2vw, 25px);"></i>
                        </span>
                        <select name="category" style="width: 70%; font-size: clamp(10px, 2vw, 20px);">
                            <option value="">すべてのカテゴリ</option>
                            {% for code, label in categories %}
                            <option value="{{ code }}" {% if request.GET.category == code %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="width: 50%; margin-left: auto;">
                        <i class="bi bi-heart" style="font-size: clamp(15px, 2vw, 25px);"></i>
                        <select name="favorite" style="width: 70%; font-size: clamp(10px, 2vw, 20px);" {% if not user.is_authenticated %} disabled {% endif %}>
                            <option value="">お気に入りソート無</option>
                            <option value="true" {% if request.GET.favorite == 'true' %}selected{% endif %}>お気に入りのみ</option>
                            <option value="false" {% if request.GET.favorite == 'false' %}selected{% endif %}>お気に入り以外</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="button post-data-button" style="width: 20%;">
                <i class="bi bi-search"></i>
                <span>search</span>
            </button>
        </div>
    </form>

    <div style="margin: 20px auto; width: 80%;">
        {% for article in object_list %}
            <div style="width: 100%; aspect-ratio: 20 / 3; display: flex; flex-direction: row; margin: 20px 0; font-size: clamp(5px, 1.2vw, 3rem); background-color: aliceblue; cursor: pointer; border-radius: 10px;" onclick="moveToDetailPage('{{article.pk}}')">
                <div style="width: 30%;" class="article-list-img">
                    <img src="{{ article.header_img_url.url }}" alt="" style="object-fit: cover; width: 100%; height:100%; border-radius: 10px 0 0 10px;">
                </div>
                <div style="display: flex; flex-direction: column; width: 70%;">
                    <div style="height: 70%; display: flex; align-items: center; padding-left: 1.5vw; font-size: 1.5vw;">
                        {{ article.title|truncatewords:25 }}
                    </div>
                    <div style="height: 30%; display: flex; flex-direction: row; justify-content: end">
                        <div style="padding: 10px; display: flex; align-items: center;">
                            <i class="bi bi-box" style="padding-right: 0.2vw;"></i>
                            {{ article.get_category_display }}
                        </div>
                        <div style="padding: 10px; display: flex; align-items: center;">
                            <i class="bi bi-clock" style="padding-right: 0.2vw;"></i>
                            {{ article.created_at | date:"Y-m-d" }}
                        </div>
                        <div style="padding: 10px; display: flex; align-items: center;">
                            <i class="bi bi-eye" style="padding-right: 0.2vw;"></i>
                            {{ article.viewed_count }} views
                        </div>
                    </div>
                </div>
                <a href="{% url 'articles:detail' article.pk %}" style="display: none;" id="{{article.pk}}"></a>
            </div>
        {% endfor %}
    </div>

    <!-- <div class="content-container"> -->
        {% if user.is_authenticated %}
        <div class="article-edit-icon">
            <a href="{% url 'articles:edit' %}"><i class="bi bi-pencil-square"></i></a>
        </div>
        {% endif %}
    <!-- </div> -->

    <script>
        function moveToDetailPage(articleID) {
            const article = document.getElementById(articleID);
            article.click();
        }
    </script>
    

{% endblock %}