{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->

    <div class="title">
        記事一覧
    </div>

    <form method="get" action="" class="search-form width-80 margin-horizontal-auto">
        {% csrf_token %}
        <div class="container-flex-row width-100">
            <div class="container-flex-column width-80">
                <div class="width-100 margin-vertical-20">
                    <i class="bi bi-chat-square-text"></i>
                    <input type="text" name="q" placeholder="キーワードで検索..." value="{{ request.GET.q }}">
                </div>
                <div class="container-flex-row width-100 margin-vertical-20">
                    <div class="width-50">
                        <i class="bi bi-box"></i>
                        <select name="category">
                            <option value="">すべてのカテゴリ</option>
                            {% for code, label in categories %}
                            <option value="{{ code }}" {% if request.GET.category == code %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="width-50">
                        <i class="bi bi-heart"></i>
                        <select name="favorite" {% if not user.is_authenticated %} disabled {% endif %}>
                            <option value="">全ての記事</option>
                            <option value="true" {% if request.GET.favorite == 'true' %}selected{% endif %}>お気に入りのみ</option>
                            <option value="false" {% if request.GET.favorite == 'false' %}selected{% endif %}>お気に入り以外</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="button post-data-button">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>

    <div class="margin-vertical-20 margin-horizontal-auto width-80">
        {% for article in object_list %}
            <div class="width-100 margin-vertical-20 margin-horizontal-auto container-flex-row item-container article-info-container" onclick="moveToDetailPage('{{article.pk}}')">
                <div class="width-30">
                    <img src="{{ article.header_img_url.url }}" alt="">
                </div>
                <div class="container-flex-column width-70">
                    <div class="article-title-container container-flex-column">
                        {{ article.title|truncatewords:25 }}
                    </div>
                    <div class="container-flex-row article-sub-info-container">
                        <div class="container-flex-row">
                            <i class="bi bi-box"></i>
                            {{ article.get_category_display }}
                        </div>
                        <div class="container-flex-row">
                            <i class="bi bi-clock"></i>
                            {{ article.created_at | date:"Y-m-d" }}
                        </div>
                        <div class="container-flex-row">
                            <i class="bi bi-eye"></i>
                            {{ article.viewed_count }} views
                        </div>
                    </div>
                </div>
                <a href="{% url 'articles:detail' article.pk %}" id="{{article.pk}}"></a>
            </div>
        {% endfor %}
    </div>

    <!-- <div class="content-container"> -->
        {% if user.is_authenticated %}
        <div class="article-edit-icon">
            <a href="{% url 'articles:edit' %}"><i class="bi bi-pencil-square"></i></a>
        </div>
        {% endif %}
    <!-- </div> -->

    <script>
        function moveToDetailPage(articleID) {
            const article = document.getElementById(articleID);
            article.click();
        }
    </script>
    

{% endblock %}