{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->
    <script src="{% static 'markdownx/js/markdownx.js' %}"></script>
    

    <div class="title">
        記事編集
    </div>

    <form method="post" enctype="multipart/form-data" class="article-edit-form" action="{% url 'articles:update' form.instance.pk %}">
        {% csrf_token %}
        <div class="drop-area article-header">
            <div class="article-icon" style="display: none;">
                <i class="bi bi-image"></i>
            </div>
            <div class="img-form-message" style="display: none;">
                ヘッダー画像をアップロード
            </div>
            {{ form.header_img_url }}
            <img src="{{ form.instance.header_img_url.url }}" class="article-header-img">
        </div>

        <div class="text-item-containor"  style="display: flex;">
            <div class="article-item article-title">
                <div class="text-item">
                    {{ form.title }}
                </div>
            </div>
    
            <div class="article-item" style="margin-left: auto;">
                <div class="text-item">
                    {{ form.category }}
                </div>
            </div>
        </div>

        <div class="article-item">
            <div class="article-edit-button-containor">
                <button id="edit" class="button article-edit-button" onclick="changeDisplayStatus('edit'); event.preventDefault()">
                    <i class="bi bi-pencil-square"></i>
                    <span>EDIT</span>
                </button>
                <button id="preview" class="button article-edit-button" onclick="changeDisplayStatus('preview'); event.preventDefault()">
                    <i class="bi bi-eye-fill"></i>
                    <span>PREVIEW</span>
                </button>
                <button class="button article-edit-button post-data-button">
                    <i class="bi bi-send"></i>
                    <span>POST</span>
                </button>
            </div>
            {{ form.content }}
        </div>

    </form>

{% endblock %}