{% extends "base.html" %}

{% block content %}

    {% load static %} <!-- neither you load static-tag in base.html, you must load static-tag here again -->
    <script src="{% static 'markdownx/js/markdownx.js' %}"></script>
    

    <div class="title">
        記事編集
    </div>

    <form method="post" enctype="multipart/form-data" class="article-edit-form" action="{% url 'articles:edit' %}">
        {% csrf_token %}
        <div class="drop-area article-header">
            <div class="article-icon">
                <i class="bi bi-image"></i>
            </div>
            <div class="img-form-message">
                ヘッダー画像をアップロード
            </div>
            {{ form.header_img_url }}
        </div>

        <div class="text-item-containor"  style="display: flex;">
            <div class="article-item article-title">
                <div class="text-item">
                    {{ form.title }}
                </div>
            </div>
    
            <div class="article-item" style="margin-left: auto;">
                <div class="text-item">
                    {{ form.category }}
                </div>
            </div>
        </div>

        <div class="article-item">
            <div class="article-edit-button-containor">
                <button id="edit" class="article-edit-button" onclick="changeDisplayStatus('edit'); event.preventDefault()">edit</button>
                <button id="preview" class="article-edit-button" onclick="changeDisplayStatus('preview'); event.preventDefault()">preview</button>
                <button class="article-edit-button submit-button">投稿</button>
            </div>
            {{ form.content }}
        </div>

        <!-- <div class="submit-button-container">
            <button type="submit" class="button">作成</button>
        </div> -->
    </form>

{% endblock %}